/* Member Image Styling */
.member-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--accent); /* Wenn du eine Variable für Farbe verwendest */
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Gesamtes Layout zentrieren */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh; /* Volle Höhe des Viewports */
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    margin: 0;
    background-color: #1d1d1d; /* Dunkler Hintergrund */
}

/* Container für den Countdown */
#countdown-container {
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Elemente untereinander anordnen */
    align-items: center; /* Horizontale Zentrierung der inneren Elemente */
    justify-content: center; /* Vertikale Zentrierung der inneren Elemente */
}

/* Countdown Text */
#countdown {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

/* H1-Styling */
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
